*,
*:before,
*:after {
  /* этим обнулили всю страницу. стала без рамок и границ*/
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body,
html {
  /* height: 100%; */
  font-family: 'SRegular';
}

@font-face {
  font-family: 'Gabriela-heading';
  /* только для логотипа */
  src: url('font/Gabriela-heading.ttf');
}

@font-face {
  font-family: 'PRegular';
  /* для оглавлений */
  src: url('font/Prata-Regular.ttf');
}

@font-face {
  font-family: 'Bold';
  src: url('font/SourceSerif4-Bold.ttf');
}

@font-face {
  font-family: 'SemiBold';
  src: url('font/SourceSerif4-SemiBold.ttf');
}

@font-face {
  font-family: 'SRegular';
  src: url('font/SourceSerif4-Regular.ttf');
}


.page {
  margin: 0 auto;
  margin-top: 53px;
  width: 100%;
  padding: 0 0;
  position: relative;
  display: grid;
}

.page h5 {
  font-size: 1.2rem;
}

.page p {
  font-size: 1rem;
  color: #373636;
  text-shadow: none;
}

/* border: 2px solid red;               рамка  */

/* div{
    border: 2px solid blue;           /* рамка
} */


::-webkit-scrollbar {
  /* цвет шкалы скрола */
  width: 10px;
  height: 8px;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
  /*  цвет самого скролла который двигается  */
  background: #5d5d43e6;
  border-radius: 3px;
}












/* 
background-color: #ffa28233;

*/















/* верхнее меню бургер */


.container {
  width: 100%;
  margin: 0px auto;
  padding: 0px 5%;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  padding: 0 3%;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F6EADD;
  z-index: 2;
}

.header_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-height: 57px;
  align-items: center;
}

.header_logo {
  position: relative;
  z-index: 3;
  display: flex;

}

.header_logo h2 {
  z-index: 2;
  color: #000;
  margin: 0;
  align-items: center;
  display: flex;
  font-family: 'Gabriela-heading';
}

.header_logo img {
  width: 55px;
  overflow: hidden;
  /* border-radius: 44%; */
  display: block;
  transition: all 1s;
  padding: 5px;
}

.header_logo:hover img {
  transform: rotate(180deg);
}

.header_burger {
  display: none;
  cursor: pointer;
  /* скрываем меню от всех разрешений которые выше чем 1030px*/
}

.header_list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header_list li {
  font-family: 'SRegular';
  list-style: none;
  /* text-transform: uppercase; */
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.2s;
  transform: scale(1, 1.3);
}

.header_list li:hover {
  transform: scale(1.02, 1.32);
}




.job {
  display: flex;
}

.number1 {
  position: relative;
  color: #414101;
  z-index: 2;
  transform: scale(1, 1.3);
  padding: 2px 8px;
  font-family: 'Bold';
  transition: all 0.3s ease;
  align-items: center;
  display: flex;
}

.number1:hover {
  position: relative;
  transform: scale(1.02, 1.32);
  color: #000;
  text-shadow: 0.5px 0px 0.5px #000;
}

.connect_header {
  display: flex;

}

.connect_header img {
  position: relative;
  width: 31px;
  z-index: 2;
  align-items: center;
  display: flex;
  margin: 0 5px;
  transform: scale(0.95, 0.95);
  transition: all 0.3s;
  opacity: 0.75;
}

.connect_header img:hover {
  transform: scale(1.03, 1.03);
  opacity: 0.85;
}


.number2 {
  display: none;
  transition: all 0.3s ease;
}

.header_list a {
  font-family: 'SRegular';
  text-decoration: none;
  text-shadow: 0.5px 0.5px 1px #494949;
  position: relative;
  cursor: pointer;
  color: #414101;
  transition: all 0.2s linear;
  font-size: 1.1rem;
  padding: 2px 13px;
}

.header_list li:hover a {
  color: #000;
  /* text-shadow: 1px 0px 1px #000; */
}


/* верхнее меню  бургер*/




/* grid-template-columns: 0.5fr 2fr 0.5fr;  размер колонок*/
/* grid-template-rows: 100px 50px 100px  ;    задаем размер самих строк! не отдельного элемента, а целой строки! */
/*grid-row-gap: 30px;  отступ между строками */
/*grid-column-gap: 20px;   задает отступ между колонками */
/* grid-gap: 40px;   это общий отступ между колонками и строками, со всех сторон сразу */
/*  grid-auto-rows: 100px;  задает размер строк всем в этом div кому размеры не заданны, так как не заданы они только нижней, только она и меняется/ ВЫСОТА*/
/* grid-auto-rows: minmax(100px, auto);   указываем высоту размера строки для адаптива */
/* justify-content: center;  выравнивание по оси х право-лево */
/* justify-self: center;    выравнивание елемента в grid право-лево*/
/* align-self: center;       выравнивание елемента в grid end-низ star-верх*/







.av {
  display: grid;
  position: relative;
  height: 100%;
}

.av img {
  display: grid;
  width: 100%;
  overflow: hidden;
  opacity: 0.7;
}


.av_foto {
  display: grid;
  position: relative;
  width: 100%;
  background-color: #000;
}

.av_desc {
  display: block;
  position: absolute;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 3% 3%;
}

.av_desc h1 {
  font-family: 'PRegular';
  font-size: 5rem;
  color: #fff;
  text-shadow: 0.5px 0.5px 0.5px #494949;
  letter-spacing: 3px;
  transform: scale(1, 1.2);
}

.av_desc h3 {
  font-family: 'SRegular';
  font-size: 2rem;
  color: #fff;
  text-shadow: 0.5px 0.5px 0.5px #494949;
  letter-spacing: 2px;
}






.bv {
  display: grid;
  position: relative;
  text-align: center;
  padding: 7% 3%;
  padding-top: 2%;
}

.bv_a h2 {
  font-family: 'PRegular';
  font-size: 1.6rem;
  padding-bottom: 6%;
  padding-top: 0;
  color: #444343;
  text-shadow: 0.2px 0.2px 0.3px #7fa200;
  letter-spacing: 1px;
  word-spacing: 2px;
}


.bv_a p {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.bv_b_desc {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
}

.bv_b_desc p {
  color: #373636;
  text-shadow: 0.03px 0.03px 0.03px #7fa200;
  font-size: 1rem;
}

.bv_b_i {
  margin: 2%;
}

.bz {
  width: 100%;
  min-height: 45px;
}

.bx {
  padding: 3%;
}

.bx h5 {
  padding-bottom: 3%;
  color: #474747;
  text-shadow: 0.06px 0.06px 0.06px #7fa200;
}

.bx p {
  text-shadow: 0.03px 0.03px 0.03px #7fa200;
}






.cv {
  position: relative;
  display: grid;
  margin-bottom: 8%;
}

.cv img {
  width: 100%;
  overflow: hidden;

}

.cv_a {
  display: grid;
  position: relative;
  height: 100%;
  z-index: 2;
}


.cv_a_a {
  display: flex;
  position: absolute;
  align-self: center;
  justify-self: center;
  width: 80%;
  height: 100%;
  padding: 3% 3%;
  z-index: 3;
  background: linear-gradient(111deg, rgba(100, 100, 100, 0.9529061624649859) 48%, rgba(255, 255, 255, 0) 100%);
  border-radius: 5px;
}

.cv_a_a_desc {
  position: relative;
  align-self: center;
  padding-right: 50%;
}

.cv_a_a_desc p,
h2 {
  color: #fff;
  margin-top: 3%;
  font-size: 1.1rem;
  text-shadow: 0.2px 0.2px 0.25px #7fa200;
}

.cv_a_a_desc h2 {
  font-size: 1.6rem;
  font-family: 'PRegular';
  color: #fff;
  margin-top: 3%;
  text-shadow: 0.25px 0.25px 0.4px #7fa200;
}

.cv_a_b {
  display: grid;
  position: relative;
  width: 80%;
  z-index: 1;
  justify-self: center;
}

.cv_a_b img {
  border-radius: 5px;
}

.cv_b {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-items: center;
  /* align-items: center; */
  margin-top: -5%;
  z-index: 10;
}

.cv_b p {
  font-size: 1rem;
  color: #494949;
  text-shadow: 0.2px 0.2px 0.2px #7fa200;
}

.cv_b p:first-letter {
  initial-letter: 2 1;
  font-size: 3rem;
  color: #656502;
  float: left;
  margin-right: 5px;
}

.cv_b_a,
.cv_b_b {
  display: flex;
  position: relative;
  width: 70%;
  background-color: #faf1e8;
  border-radius: 5px;
  padding: 5%;
}



.km {
  display: grid;
  position: relative;
  padding: 5% 3%;
}

.km h3 {
  text-align: center;
  font-family: 'PRegular';
  font-size: 1.6rem;
  color: #444343;
  text-shadow: 0.2px 0.2px 0.3px #7fa200;
  padding-bottom: 1%;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.km h6 {
  font-family: 'SRegular';
  font-size: 0.8rem;
  color: #747474;
  padding-bottom: 6%;
  text-align: center;
}

.content_km {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-self: center;
}

.con_km {
  display: flow;
  max-width: 280px;
  margin: 5%;
  padding: 2%;
}

.con_km h5 {
  padding-bottom: 1%;
  color: #3a3a3a;
  text-shadow: 0.06px 0.06px 0.06px #7fa200;
}

.con_km p {
  text-shadow: 0.03px 0.03px 0.03px #7fa200;
}

.liner_bot {
  margin: 3%;
  border-bottom: 2px solid #858f84b0;
}










.lv {
  display: grid;
  position: relative;
  padding: 5% 3%;
  width: 100%;
}

.content_lv {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  width: 100%;
}

.lv h3 {
  text-align: center;
  padding-bottom: 3%;
  font-family: 'PRegular';
  font-size: 1.6rem;
  color: #444343;
  text-shadow: 0.2px 0.2px 0.3px #7fa200;
  padding-bottom: 1%;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.lv h6 {
  font-family: 'SRegular';
  font-size: 0.8rem;
  color: #747474;
  padding-bottom: 5%;
  text-align: center;
  text-transform: uppercase;
  text-wrap: balance;
}

.con_lv {
  display: grid;
  width: 100%;
  margin: 3%;
  overflow: hidden;
  justify-self: center;
}

.con_lv img {
  max-width: 100%;
  overflow: hidden;
  padding: 3%;
  border-radius: 3px;
}


.modal {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding-top: 20px;
  z-index: 10;
  padding: 35% 48%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: padding 0.3s linear, opacity 0.3s linear, visibility 0.3s linear;

}

.modal.show {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  padding: 0 0;
}

.modal-content {
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  border-radius: 3px;
}

.close {
  position: absolute;
  top: 18px;
  right: 15px;
  color: white;
  font-size: 33px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 4vh;
}

















.dv_Preview {
  display: grid;
  position: relative;
  height: 100%;
  width: 100%;
  justify-self: center;
  padding: 5% 20%;
  text-align: center;
}

.dv_Preview h4 {
  font-family: 'PRegular';
  font-size: 1.6rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  /* межсловестный интервал */
  color: #494949;
  text-shadow: 0.2px 0.2px 0.2px #7fa200;
  text-wrap: balance;
}

.dv {
  display: grid;
  position: relative;
  height: 100%;
  width: 80%;
  justify-self: center;
  margin-bottom: 5%;
}


.dv img {
  display: grid;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}


.dv_foto {
  display: grid;
  position: relative;
  width: 100%;
}

.dv_desc {
  display: grid;
  position: absolute;
  align-self: center;
  padding: 2% 2%;
  padding-left: 5%;
  width: 50%;
}


.dv_desc h2 {
  font-family: 'PRegular';
  font-size: 1.6rem;
  letter-spacing: 3px;
  margin: 0;
  color: #474747;
  text-shadow: 0.3px 0.3px 0.3px #7fa200;
}

.dv button {
  cursor: pointer;
  width: 60%;
  margin: 5% 0;
  background: linear-gradient(6.2deg, rgb(38 102 1 / 80%) 9.86%, rgba(196, 196, 196, 0) 183.1%);
  padding: 3%;
  color: #fff;
  font-family: 'Bold';
  border-radius: 3px;
  transition: all 0.2s linear;
  font-size: 1rem;
}

.dv button:hover {
  opacity: 0.85;
}

.fv {
  display: flex;
  float: none;
  width: 100%;
  margin: 5% 0;
}









.gv {
  margin-bottom: 5%;
  padding: 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact_gv {
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 65%;
  display: flow;
  text-align: center;
}

.contact_gv h3 {
  font-family: 'PRegular';
  font-size: 2rem;
  color: #444343;
  text-shadow: 0.1px 0.1px 0.15px #7fa200;
  letter-spacing: 2px;
  padding: 5% 3%;
  padding-bottom: 1%;
}

.contact_gv h6 {
  color: #6c784a;
  font-family: 'SRegular';
  font-size: 0.9rem;
  padding-bottom: 3%;
  text-wrap: balance;
}


.contact_gv p {
  font-family: 'PRegular';
  font-size: 1.2rem;
  color: #313131;
  text-shadow: 0.1px 0.1px 0.15px #7fa200;
  padding: 1.5% 3%;
}

.contact_gv a {
  justify-self: center;
  width: 100%;
  display: grid;
  color: #313131;
}

.contact_gv h4 {
  font-family: 'PRegular';
  font-size: 1.2rem;
  text-shadow: 0.05px 0.05px 0.08px #7fa200;
  padding: 3% 3%;
}

.form-container {
  color: #fff;
  justify-self: center;
  padding-right: 10%;
}

.form-container form {
  display: grid;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 12%);
  padding: 8% 8%;
  min-height: 530px;
  min-width: 500px;
  max-width: 505px;
  border-radius: 5px;
}

.form_question {
  text-align: center;
  padding: 3%;
}

.form_question h5 {
  color: #444343;
  font-size: 1.3rem;

}

.form-group {
  margin: 0 3%;
  margin-bottom: 55px;
  border-bottom: 0.5px solid #acaaaa;
}

.form-group input,
.form-group textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 10px;
  font-family: 'SemiBold';
  font-size: 1rem;
}

.but_send {
  width: 60%;
  color: #fff;
  margin: 3% 0;
  padding: 1.5% 3%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  justify-self: center;
  font-family: 'Bold';
  font-size: 1rem;
  background: linear-gradient(6.2deg, rgb(38 102 1 / 80%) 9.86%, rgba(196, 196, 196, 0) 183.1%);
  transition: all 0.2s linear;
}

.but_send:hover {
  opacity: 0.85;
}




















/* certificates  */
.certific_page_foto {
  width: 100%;
  max-width: 2100px;
  height: 100%;
  background-repeat: repeat-y;
  position: absolute;
  margin-top: 6%;
  background-image: url(img/certificates/logo.webp);
  background-size: 101% 51%;
  opacity: 0.05;
  overflow: hidden;
}

@media (min-width:2101px) {
  .certific_page_foto {
    display: none;
  }
}

@media (max-width:850px) {
  .certific_page_foto {
    background-size: 101% 35%;
  }
}

#av_certific img {
  opacity: 0.9;
}

.preview_certific {
  display: grid;
  width: 76%;
  margin: 5%;
  border-bottom: 2px solid #858f84b0;
  justify-self: center;
  text-align: center;
}

.preview_certific p {
  padding-bottom: 3%;
  font-size: 1.8rem;
}

.full_card_product {
  display: grid;
  position: relative;
  padding: 5% 10%;
  grid-template-columns: 1fr 1fr;
  max-width: 2000px;
  justify-self: center;
}

.card_product {
  margin: 5% 7%;
  padding: 2%;
  display: grid;
  overflow: hidden;
  justify-content: space-between;
}

.card_product img {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  transform: scale(1, 1);
  transition: transform 10s linear;
}

.card_product img:hover {
  transform: scale(1.4, 1.4);
}

.card_f {
  overflow: hidden;
}

.card_h,
.card_desc {
  padding: 2% 0;
}

.card_h h5 {
  font-size: 1.4rem;
  color: #2e2d2d;
}

.card_desc p {
  font-size: 1rem;
}

.card_but {
  justify-items: center;
  position: relative;
  display: grid;
  grid-row: 299/300;
}

.card_but button {
  cursor: pointer;
  width: 100%;
  margin: 5% 0;
  background: linear-gradient(6.2deg, rgb(38 102 1 / 80%) 9.86%, rgba(196, 196, 196, 0) 183.1%);
  padding: 2%;
  color: #fff;
  font-family: 'SemiBold';
  border-radius: 3px;
  transition: all 0.2s linear;
  font-size: 1rem;
}

.card_but button:hover {
  opacity: 0.85;
}





.hm {
  display: grid;
  position: relative;
  padding: 5%;
}

.content_hm {
  display: grid;
  margin: 5% 5%;
  padding-top: 3%;
  border-top: 2px solid #858f84b0;
}

.content_hm h4 {
  font-family: 'SRegular';
  font-size: 1.8rem;
  color: #444343;
  text-shadow: 0.2px 0.2px 0.3px #7fa200;
}

.content_hm h6 {
  /* font-family: 'SRegular'; */
  font-size: 0.9rem;
  color: #747474;
  padding-top: 2%;
  padding-bottom: 0.5%;
}

.content_hm p {
  font-size: 1rem;
}

.content_hm_f {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5% 10%;
}

.con_hm_f_a {
  margin: 5%;
  justify-self: center;
  text-align: center;
  max-width: 200px;
}

.con_hm_f_a img {
  min-height: 50px;
}

.con_hm_f_a h5 {
  padding: 5% 0;
  color: #2b2b2b;
}

.con_hm_f_a p {
  font-size: 1rem;
}



/* certificates  */





/* prices */























/* prices */



















/* модальное окно, помощь при выборе пк */

.modal_win {
  display: grid;
  text-align: center;
  width: 100%;
  padding: 7% 1.5%;
  padding-top: 2%;
  margin: 0 auto;
  position: relative;
}

.modal_win h4 {
  cursor: pointer;
  font-size: 3rem;
  color: #313030;
  text-shadow: 1px 1px 0.9px #7fa200;
  font-family: 'SemiBold';
}

.form_input {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 5% 3%;
  z-index: 100;
  background-color: rgba(0, 0, 0, .3);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;

}

.form_input_box {
  position: relative;
  max-width: 1000px;
  min-width: 600px;
  padding: 5%;
  z-index: 1;
  background-color: #fff;
  box-shadow: 12px 11px 24px 1px rgba(34, 60, 80, 0.2);
  transform: scale(0);
  transition: transform .8s;
  border-radius: 3px;
}

.form_input_box h2 {
  color: #444343;
  font-size: 1.3rem;
}

@media (max-width:650px) {
  .form_input_box {
    min-width: 91vw;
  }
}

.form_input_box h2 {
  padding-bottom: 15px;
  font-family: 'Regular';
}

.form_input.open {
  visibility: visible;
  opacity: 1;
}

.form_input.open .form_input_box {
  transform: scale(1);
}

.close-form-input-modal {
  background-color: #FFC501;

}

.btn_close-form-input-modal {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  height: 31px;
  border-radius: 3px;
  transition: transform .6s, box-shadow .6s;
}

.btn_close-form-input-modal:hover {
  transform: rotate(90deg);
  box-shadow: 1px 2px 7px 4px rgba(34, 60, 80, 0.10);
}

.modal_win-content form {
  display: grid;
}

.form_win_content {
  margin-bottom: 15px;
}

.in_com {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  font-size: 0.9rem;
  font-family: 'Regular';
  /* background-color: #000; */
  color: #000;
  border: 2px solid #9493934a;
}


.but_form_win_content {
  background: linear-gradient(6.2deg, rgb(38 102 1 / 91%) 9.86%, rgba(196, 196, 196, 0) 183.1%);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-self: center;
  font-family: 'Regular';
  font-size: 1.1rem;
  transition: all 0.4s;
}

.but_form_win_content:hover {
  background-color: #000000b8;
}

.but_form_win_content p {
  color: #fff;
  text-shadow: 0.4px 0.4px 0.4px #000;
  transition: all 0.2s linear;
}

/* .but_form_win_content:hover p {
  text-shadow:none;
} */


/* модальное окно, помощь при выборе пк */






























/* price услуги и цены*/

#av_prices img {
  min-height: 68px;
}

.rp_full {
  width: 100%;
  position: relative;
  display: grid;
  padding: 5% 3%;
}

.rp_full h3 {
  font-size: 1.8rem;
  text-align: center;
  color: #6c784a;
  padding-bottom: 3%;
}


.rp_content {
  position: relative;
  display: grid;
  width: 100%;
  margin: 5% 0;
  grid-template-columns: 1.5fr 0.5fr;
}

.rp_con_desc {
  position: relative;
  display: flow;
  overflow: hidden;
  padding: 0 3%;
  padding-right: 65px;
  justify-self: center;
  align-self: center;
}

.rp_con_desc h2 {
  font-size: 1.4rem;
  color: #2e2d2d;
  text-shadow: 0.35px 0.35px 0.35px #7fa200;
  margin: 0;
  padding-bottom: 1%;
}

.rp_con_desc span {
  border-bottom: 2px solid #7c875d91;
  width: 100%;
  display: flex;
  padding-bottom: 3%;
}

.rp_con_desc img {
  width: 30px;
  margin-right: 7px;
  margin-left: 7px;
}

.rp_con_desc img,
p {
  display: inline-grid;
  align-self: center;

}

.rp_con_desc-a {
  grid-row: 2/3;
  display: flex;
  border-bottom: 2px solid #7c875d91;
  padding: 3% 0;

}

.rp_con_desc-a img {
  width: 25px;
  margin-right: 12px;
}

.rp_con_desc-b {
  grid-row: 3/4;
  display: flex;
  border-bottom: 2px solid #7c875d91;
  padding: 3% 0;
}

.rp_con_f {
  display: grid;
  position: relative;
  width: 100%;
  justify-self: center;
  align-self: center;
}

.rp_con_f img {
  width: 100%;
  z-index: 2;
  position: relative;
  border-radius: 3px;
}

.rp_con_f-a {
  display: grid;
  width: 100%;
  position: absolute;
  z-index: 1;
  right: 30px;
  top: -30px;
}

.rp_con_f-a img {
  width: 100%;
  opacity: 0.85;
}

#rp_content_left {
  grid-template-columns: 0.5fr 1.5fr;
  margin-left: 15px;
}

#rp_con_desc_left {
  padding-right: 3%;
}

#rp_full_h3_bot {
  padding-top: 8%;
}







.rp_med_desc {
  padding: 0 15%;
  padding-bottom: 2%;
  text-wrap: balance;
  text-align: center;

}

.med_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1%;
  margin: 2% 0;
  border-bottom: 2px solid #7c875d91;
}

.med_content h2 {
  font-size: 1.2rem;
  color: #474545;
  text-shadow: 0.25px 0.25px 0.35px #7fa200;
  margin: 0;
}

.med_content p {
  padding-right: 2%;
}

.med_con_1 {
  min-width: 24vw;
  padding-right: 2%;
}


.xp_complex {
  display: grid;
  position: relative;
  width: 100%;
  margin: 5% 0;
  overflow: hidden;
}

.xp_complex h3 {
  font-size: 1.8rem;
  text-align: center;
  color: #6c784a;
  padding-bottom: 5%;
}


.xp_com_f {
  position: relative;

}










.xp_com_f_absol {
  position: absolute;
  width: 100%;
}

.xp_com_f_absol img {
  width: 100%;
  opacity: 0.95;
}

.xp_com_f_absol_2 {
  display: none;
  position: absolute;
}

.xp_com_f_absol_2 img {
  width: 100%;
  opacity: 0.95;
}














.xp_com_desc {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.com_desc_i {
  width: 100%;
  max-width: 500px;
  display: grid;
  padding: 5% 5%;
  padding-bottom: 3%;
  justify-self: center;
  text-align: center;
}

.com_desc_i p,
h2 {
  color: #fff;
  margin: 0;
  text-shadow: 0.25px 0.25px 0.3px #252523;
}

.com_desc_i h2 {
  padding-bottom: 2%;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-shadow: 0.4px 0.4px 0.5px #252523;
}

.com_desc_i img {
  width: 30px;
  margin-right: 7px;
  height: 26px;
  align-self: center;
}

#w_25p {
  width: 25px;
  margin-right: 8px;
  height: 26px;
}

.pp {
  display: flex;
  padding-top: 2%;
  justify-content: center;
}

.pp p {
  font-size: 1.2rem;
}

#pp_lef {
  padding-right: 17px;
}

#bord_bot_w {
  padding-bottom: 3%;
  border-bottom: 2px solid #fdfdfd85;
}

.xp_total_desc {
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding: 3% 5%;
  justify-self: center;
}

.xp_total_desc p,
li {
  color: #fff;
  font-size: 1rem;
  text-shadow: 0.25px 0.25px 0.3px #252523;
}

.xp_total_desc li {
  padding-top: 5px;
  list-style-type: disc;
}

/* price услуги и цены*/







/* контакты */
#page_contact {
  margin-top: 100px;
}

.content_contact_gv_ic {
  display: inline-flex;
}

.content_contact_gv_ic img {
  width: 100%;
}

.tg_gv,
.whats_gv {
  width: 33px;
  margin: 7px;
}

.cf {
  display: grid;
  padding: 5% 20%;
}

.cf h4 {
  font-family: 'PRegular';
  font-size: 2rem;
  color: #313131;
  text-shadow: 0.2px 0.2px 0.3px #7fa200;
  letter-spacing: 1.5px;
  padding-bottom: 3%;
}

.content_cf {
  padding: 3% 0;
  border-bottom: 2px solid #7c875d91;
}

.content_cf h6 {
  color: #6c784a;
  font-family: 'SRegular';
  font-size: 1.1rem;
  padding-bottom: 3%;
  text-wrap: balance;
}
.сv {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 5%;
}








/* контакты */










/* подвал */
footer {
  position: relative;
  background-color: #F6EADD;
  width: 100%;
  bottom: 0;
}

.Footer_information_general {
  max-width: 100%;
  padding: 1% 3%;
  margin: 0 10%;
}

.Footer_Name_company {
  padding-bottom: 1%;
  padding-left: 1%;
  width: 170px;
  text-align: left;
}

.Footer_Name_company img {
  width: 40px;
  transition: all 1s;
}

.Footer_Name_company:hover img {
  transform: rotate(180deg);
}

.Footer_Name_company h2 {
  color: #000;
  margin: 0;
  align-items: center;
  display: flex;
  font-family: 'Gabriela-heading';
}

.Footer_Name_company a {
  display: flex;
}

.Footer_Name_company h3:hover,
.foot a:hover,
.foot h5:hover,
.foot p:hover {
  transition: all 0.3s linear;
  color: #2d2d2d;
  /* text-shadow: 1px 0px 1px #000; */
  text-decoration: revert;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(12, 66, 7);
  text-decoration-thickness: 1px;
}

.Footer_information {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  grid-auto-rows: auto;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1%;
  text-align: left;
}

.foot {
  width: 100%;
  padding: 2% 0;
  line-height: 1.5;
}

.foot h5 {
  color: #414101;
  font-family: 'SemiBold';
  font-size: 1.2rem;
  line-height: 1.8;
  text-shadow: 0.3px 0.3px 0.4px #494949
}

.foot a,
p {
  color: #414101;
  font-family: 'SRegular';
  font-size: 1rem;
  text-shadow: 0.3px 0.3px 0.5px #494949;
  display: block;
}

/* подвал */






@media (max-width:1110px) {
  body.lock {
    /* этим мы убираем прокрутку при открытом меню + действия в js  */
    overflow: hidden;
  }

  .page {
    margin-top: 38px;
  }

  .header_body {
    max-height: 38px;
  }

  .header_logo img {
    width: 38px;
    padding: 2px;
  }

  .header_burger {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 3;
    margin-left: 8px;
  }

  .header_burger span {
    position: absolute;
    background-color: #7fa200;
    left: 0;
    width: 100%;
    height: 2px;
    top: 8px;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before,
  .header_burger:after {
    content: '';
    background-color: #7fa200;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before {
    top: 0;
  }

  .header_burger:after {
    bottom: 0px;
  }

  .header_burger.active:before {
    transform: rotate(45deg);
    top: 10px;
  }

  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 6px;
  }

  .header_burger.active span {
    transform: scale(0);
  }

  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/header/fon.webp);
    background-size: cover;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(5px); */
    padding-top: 90px;
    text-align: center;
    overflow: auto;
  }

  .header_menu.active {
    top: 0;
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_list {
    display: block;
    padding-bottom: 10%;
  }

  .header_list li {
    margin: 0px 0px 20px 0px;
    transition: all 0.2s ease;
    text-transform: none;
  }

  .header_list li:hover {
    text-transform: none;
    transform: scale(1, 1.3);
  }

  .header_link {
    font-size: 1.5rem;
  }


  .header_list a {
    color: #fff;
    font-size: 1.5rem;
  }

  .header_list a:hover {
    color: #fff;
    text-shadow: none;
  }

  .header_list li:hover a {
    color: #fff;
    transform: scale(1, 1.3);
  }

  .header_list a:before {
    content: "";
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 10%;
    width: 0%;
    height: 0.5px;
    transition: width 0.4s ease-out;
  }

  .header_list a:hover:before {
    width: 80%;
  }

  .connect_header {
    display: none;
  }

  .number1 {
    display: none;
  }

  .number2 {
    display: block;
    position: relative;
    margin-left: auto;
    color: #414101;
    z-index: 2;
    transform: scale(1, 1.3);
    padding: 0 8px;
    font-family: 'Bold';
  }

  .number2:hover {
    position: relative;
    transform: scale(1.02, 1.32);
    color: #000;
    text-shadow: 0.2px 0px 0.2px #000;
  }


  .cv_a_a_desc {
    padding-right: 0%;
  }

  .gv {
    padding: 0 3%;
    grid-template-columns: 1fr;
  }

  .contact_gv {
    height: 100%;
  }

  .form-container {
    margin-top: 5%;
    padding-right: 0;
  }

  .form-container form {
    min-width: 70vw;
  }

  .content_lv {
    grid-template-columns: 1fr 1fr;
  }

  .con_lv {
    margin: 0;
    padding: 5%;
  }

  .med_con_1 {
    min-width: 32vw;
  }

  .com_desc_i {
    padding: 3% 5%;
  }

  .xp_total_desc {
    padding: 1% 7%;
  }


}










@media (max-width:767px) {


  .av_desc h1 {
    font-size: 2.5rem;
    transform: scale(1, 1);
  }

  .av_desc h3 {
    font-size: 1.4rem;
  }

  .bv_a h2 {
    font-size: 1.4rem;
  }

  .cv_a_a_desc p {
    font-size: 0.9rem;
  }

  .cv_a_a_desc h2 {
    font-size: 1.2rem;
  }

  .cv_a_a {
    padding: 1.5%;
  }

  .cv_b {
    grid-template-columns: 1fr;
    margin-top: 5%;
  }

  .cv_b_a,
  .cv_b_b {
    width: 90%;
    margin-bottom: 5%;
  }

  .dv_Preview {
    padding: 5% 3%;
  }

  .dv button {
    font-size: 0.9rem;
    width: 70%;
  }

  .gv {
    margin-bottom: 10%;
  }

  .form-container form {
    min-width: 75vw;
    min-height: 0;
    height: 64vh;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .certific_page_foto {
    background-size: 101% 17%;
  }

  .full_card_product {
    grid-template-columns: 1fr;
    ;
  }

  .content_hm_f {
    padding: 5% 5%;
  }

  .content_hm h4 {
    font-size: 1.5rem;
  }

  .content_km {
    grid-template-columns: 1fr 1fr;
  }

  .preview_certific {
    width: 90%;
    margin: 5% 2%;
  }

  .preview_certific p {
    padding-bottom: 5%;
    font-size: 1.5rem;
  }

  .rp_content {
    grid-template-columns: 1fr;
    margin-bottom: 10%;
  }

  .rp_con_desc {
    padding-right: 3%;
  }

  .rp_con_f {
    width: auto;
    margin-top: 15%;
  }

  #rp_content_left {
    grid-template-columns: 1fr;
    margin-left: auto;
  }

  #rp_con_desc_left {
    grid-row: 1/2;
  }

  .rp_med_desc {
    padding: 0 5%;
  }

  .med_con_1 {
    min-width: 43vw;
  }

  .xp_com_f_absol {
    display: none;
  }

  .com_desc_i h2 {
    color: #fff;
  }

  .com_desc_i_a {
    min-height: 85px;
  }


  .xp_com_f_absol_2 {
    display: grid;
  }

.cf {
  padding: 5% 10%;
}
.Footer_Name_company img {
  width: 33px;
}

}







@media (max-width:550px) {
  .cv {
    margin-bottom: 5%;
  }

  .cv_a_a {
    display: flex;
    position: relative;
    align-self: center;
    justify-self: center;
    width: 80%;
    height: 100%;
    padding: 3% 3%;
    z-index: 3;
    background: none;
  }

  .cv_a_a_desc p,
  h2 {
    color: #494949;
    margin-top: 3%;
    font-size: 1.1rem;
    text-shadow: 0.25px 0.25px 0.4px #7fa200;
  }

  .cv_a_a_desc h2 {
    font-size: 1.2rem;
    color: #444343;
    text-shadow: 0.2px 0.2px 0.25px #7fa200;
  }

  .cv_a_a {
    width: 90%;
  }

  .cv_a_b {
    width: 100%;
  }

  .content_lv {
    grid-template-columns: 1fr;
  }

  .con_lv img {
    padding: 0;
  }

  .dv_desc h2 {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .dv_desc {
    width: 60%;
  }

  .form-container form {
    min-width: 90vw;
    min-height: 0;
    height: 56vh;
  }

  .med_con_1 {
    min-width: 60vw;
  }



}








@media (max-width:425px) {

  .header {
    padding: 0;
  }

  .container {
    padding: 0px 1%;
  }

  .number2 {
    padding: 2px 3px;
  }

  .number2:hover {
    position: relative;
    text-shadow: none;
    color: #414101;
    transform: scale(1, 1.3);
  }

  .bv {
    padding-top: 7%;
  }

  .bv_b_desc {
    grid-template-columns: 1fr;
  }

  .av_desc h1 {
    font-size: 2.2rem;
  }

  .av_desc h3 {
    font-size: 1.2rem;
  }

  .dv_Preview h4 {
    font-size: 1.4rem;
  }

  .bv_a p {
    font-size: 0.7rem;
  }

  .dv button {
    width: 70%;
  }

  .form-container form {
    padding: 0;
  }

  .card_product img:hover {
    transform: scale(1, 1);
  }

  .but_send {
    padding: 0;
  }

  .certific_page_foto {
    background-size: 101% 11%;
  }

  .full_card_product {
    padding: 5% 0%;
  }

  .card_but button {
    font-size: 0.9rem;
  }

  .content_hm_f {
    grid-template-columns: 1fr;
  }

  .content_hm h6 {
    padding-top: 6%;
  }

  .con_hm_f_a {
    margin: 8% 3%;
  }

  .modal_win h4 {
    font-size: 2.3rem;
  }

  .km {
    padding: 5% 1%;
  }

  .con_km {
    margin: 5% 1%;
  }

  .preview_certific p {
    padding-bottom: 5%;
    font-size: 1.2rem;
  }

  .card_h h5 {
    font-size: 1.3rem;
  }

  #av_prices h1 {
    font-size: 2rem;
  }

  .rp_med_desc {
    padding: 5% 0;
  }

  .rp_content {
    margin-bottom: 10%;
  }

  .rp_con_f img {
    padding: 5%;
    margin-left: 4%;
  }

  .com_desc_i h2 {
    font-size: 1.2rem;
    letter-spacing: 0;
  }

  .com_desc_i_a {
    min-height: 125px;
    margin-top: 6%;
  }

  #w_25p {
    margin-top: 5%;
  }

  .xp_total_desc {
    padding-bottom: 5%;
  }













}